.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 19px 60px 18px;

  &__button-menu {
    color: #017ee2;

    font-size: 11px;
    font-weight: 900;
    line-height: 1.4;

    border-bottom: 3px solid#017ee2;
    border-top: 3px solid#017ee2;

    padding: 2px 0;
    z-index: 3;

    &--active {
      color: #fff;
      border-bottom: 3px solid #fff;
      border-top: 3px solid #fff;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: -448px;
    height: 100%;
    display: none;
    z-index: 2;

    background-color: #fff;
    transition: right 0.3s ease;

    padding: 140px 60px 115px 60px;

    background-color: #017ee2;

    &--active {
      right: 0;
      display: block;
    }

    &-datails {
      margin-bottom: 20px;
    }
    &-summary {
      list-style: none;

      color: #ffffff;

      margin-bottom: 10px;

      font-family: Roboto;
      font-size: 30px;
      font-weight: 900;
    }

    &-list {
      padding-bottom: 58px;
      border-bottom: 1px solid #ffffff;
      margin-bottom: 60px;
      &--social {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }

    &-item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
      &--submenu {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }

    &-link {
      color: #ffffff;

      font-family: Roboto;
      font-size: 30px;
      font-weight: 900;

      &--submenu {
        color: #ffffff;

        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
      }
    }

    &-icon {
      fill: #fff;
    }
  }
}
